html, body {
  font-family: monospace;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

a, a:hover, a:active, a:visited {
  color: inherit;
}

:root {
  --home-blue: #2980b9; /*2B6ABC, 3359cc*/
  --home-white: #FFF;
  --home-dark: #202020;
  --home-darker: #020202;
}