.container {
  padding: 0 var(--component-spacing-lg);
}

.TextMD {
  font-size: calc(100vw / 80);
  line-height: calc(100vw / 60);
}

.TextLG {
  font-size: calc(100vw / 37);
  line-height: calc(100vw / 30);
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  /*padding: 0;*/
  z-index: 9999;
  background-color: #020202;
  overflow-x: auto;
  white-space: nowrap;
}

.header.headerShadow {
  /*box-shadow: inset -20px 0 15px -10px rgba(255, 255, 255, 0.3);*/
}

.headerNav {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  padding: 0 calc(var(--component-spacing-lg));
}

.headerNav a {
  padding: var(--component-spacing-sm) var(--component-spacing-md);
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  letter-spacing: 0.15em;
  color: inherit;
}

.headerNav a:first-child {
  margin-left: calc(-1 * var(--component-spacing-md));
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  cursor: pointer;
  z-index: -1;
  transition: opacity 180ms ease-out;
}

.backdropVisible {
  opacity: 1;
  z-index: 2;
}

.copyBackdrop {
  display: flex !important;
}

.main {
  --home-blue: #2980b9; /*2B6ABC, 3359cc*/
  --home-white: #FFF;
  --home-dark: #202020;
  --home-darker: #020202;
}

.section {
  padding: var(--component-spacing-lg) 0;
}

.Hero {
  background-color: var(--home-dark);
  padding: 0;
}

.Hero .container {
  padding: 0;
}

.HeroHeader {
  display: grid;
  grid-template-areas: "title img"
                       "CTAs img";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: var(--component-spacing-lg);
  grid-row-gap: var(--component-spacing-lg);
  color: var(--home-white);
  padding-left: var(--component-spacing-lg);
}

.HeroHeaderTitle {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  grid-area: title;
  margin: 0;
}

.HeroHeaderTitleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.HeroHeaderTitleRow > * {
  display: inline-block;
  vertical-align: middle;
}

.HeroHeaderGHStars {
  margin-left: var(--component-spacing-md);
}

.HeroHeaderGHStars iframe {
  vertical-align: middle;
}

.HeroHeaderGHStars iframe.HeroHeaderGHStarsSmall {
  display: none;
}

.HeroHeaderGHStars iframe.HeroHeaderGHStarsLarge {
  display: inline-block;
}

.HeroHeaderCTAs {
  grid-area: CTAs;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: rgba(255, 255, 255, .5);
}

.HeroHeaderCTAs > * {
}

.HeroHeaderCTAs > *:last-child {
}

.HeroHeaderImg {
  position: relative;
  grid-area: img;
  border-left: 3px solid #424242;
}

/*.HeroHeaderImg:before {*/
/*  display: block;*/
/*  content: '';*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  width: 120%;*/
/*  height: calc(100% + 40px);*/
/*  top: -35px;*/
/*  left: -5px;*/
/*  background-color: #fff;*/
/*}*/

.HeroHeaderImg > img {
  position: relative;
  width: 100%;
  display: block;
  z-index: 2;
}

.HeroFeaturesWrapper {
  background-color: var(--home-darker);
  border-bottom: 10px dashed var(--home-blue);
  border-top: 3px solid #424242;
  /*padding: calc(1 * var(--component-spacing-lg)) 0;*/
  /*border-top: 4px dashed #333;*/
}

.HeroFeatures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--component-spacing-lg);
}

.HeroFeaturesItem {
  padding: var(--component-spacing-md) 0;
  /*border-bottom: 3px dashed var(--home-white);*/
}

.HeroFeaturesItem h2 {
  background-image: linear-gradient(90deg, #ff00a0 0%, #8200ff 44%, #00ffff 83%);
  /*background-image: linear-gradient(90deg, #ff00a0 0%, #8200ff 40%, #00ffff 100%);*/
  /*cyperpunk linear-gradient(90deg, #ff00a0 0%, #8200ff 44%, #00ffff 83%)*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  background-attachment: fixed;
}

.HeroFeaturesItem p {
  color: #fff;
  margin-top: 10px;
}

/*.HeroFeatures .HeroFeaturesItem:nth-child(1) h2 { background: -webkit-linear-gradient(#ff325d, #8f54a3); }*/
/*.HeroFeatures .HeroFeaturesItem:nth-child(2) { color: #8f54a3; }*/
/*.HeroFeatures .HeroFeaturesItem:nth-child(3) { color: #f97911; }*/

.HeroFeaturesItemDesc {
  color: var(--home-white);
}

.HowItWorks {
  background-color: var(--home-blue);
}

.HowItWorks .container {
  padding: 0;
}

.HowItWorksBody {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--component-spacing-lg);
  padding-left: var(--component-spacing-lg);
}

.HowItWorksList {
  max-width: 780px;
}

.HowItWorksCode {
  max-width: calc(50vw - var(--component-spacing-lg));
}

.HowItWorksBullet {
  color: var(--home-white);
  text-shadow: 1px 1px 1px var(--home-darker);
}

.HowItWorks pre, .HowItWorks code {
  display: block;
  width: auto;
  overflow-x: auto;
}

.FeatureBlocks {
  background-color: #EAEAEA;
  padding: 0;
}

.FeatureBlocksGrid {
  display: grid;
  grid-template-areas: "null content content";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--component-spacing-lg);
}

.FeatureBlocksContent {
  grid-area: content;
  padding: var(--component-spacing-lg) calc(2 * var(--component-spacing-lg));
  background-color: #FFF;
  border-left: 1px solid var(--grey-light-xx);
  border-right: 1px solid var(--grey-light-xx);
}

.FeatureBlocksOverline {
  color: var(--home-blue);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.FeatureBlock {
  padding: var(--component-spacing-lg) 0;
  color: var(--home-dark);
}

.FeatureBlock h2 {
  margin-bottom: var(--component-spacing-md);
}

.FeatureBlock p {
  border-left: 5px solid var(--home-blue);
  padding-left: var(--component-spacing-md);
  margin-top: var(--component-spacing-lg);
  margin-bottom: var(--component-spacing-lg);
}

.FeatureBlock p:last-child {
  margin-bottom: 0;
}

.FeatureBlock h2 + p {
  margin-top: 0;
}

.FeatureBlockDemo {
  padding-bottom: calc(0.5 * var(--component-spacing-sm));
}

.FeatureBlockDemoArea {
  position: relative;
  width: 80%;
  /*border-radius: var(--border-radius);*/
  /*border-right: 10px solid var(--primary-darker);*/
  /*border-bottom: 10px solid var(--primary-darker);*/
  box-shadow: var(--component-spacing-xs) var(--component-spacing-xs) 0 0 var(--home-blue);
  overflow: hidden;
  margin-bottom: var(--component-spacing-xs);
}

.FeatureBlockDemoArea:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: block;
  box-shadow: inset 0 0 0 2px var(--primary-dark);
  /*border-radius: var(--border-radius);*/
}

.FeatureBlockDemoAsset {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  /*border-radius: var(--border-radius);*/
}

.GetInvolved {
  /*color: var(--home-white);*/
  background-color: var(--home-blue);
  padding: 0 0 var(--component-spacing-lg);
}

.GetInvolvedGrid {
  display: grid;
  grid-template-areas: "null content content";
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: var(--component-spacing-lg);
}

.GetInvolvedContent {
  grid-area: content;
  padding: 0 0 var(--component-spacing-md);
}

.GetInvolvedOverline {
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: var(--component-spacing-lg) 0 var(--component-spacing-lg);
}

.GetInvolvedAbout {
  color: var(--home-white);
}

.footer {
  background-color: var(--home-darker);
  color: var(--home-white);
  text-align: right;
}

.footer img {

}

/* =======
  Media queries
 */

@media (min-width: 1900px) {
  .container {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
  }

  .TextMD {
    font-size: var(--text-lg);
    line-height: var(--text-height-lg);
  }

  .TextLG {
    font-size: 2.8em;
    line-height: 1.2em;
  }

  .HeroHeader, .HowItWorksBody {
    padding-left: 0;
  }

  .Hero .container, .HowItWorks .container {
    padding: 0 var(--component-spacing-lg);
  }
}

@media (max-width: 1400px) {
  .HeroHeaderGHStars iframe.HeroHeaderGHStarsSmall {
    display: inline-block;
  }

  .HeroHeaderGHStars iframe.HeroHeaderGHStarsLarge {
    display: none;
  }
}

@media (max-width: 1200px) {
  .TextMD {
    font-size: var(--text-md);
    line-height: var(--text-height-md);
  }

  .HeroHeader {
    grid-row-gap: var(--component-spacing-sm);
  }


  .FeatureBlocksGrid {
    display: grid;
    grid-template-areas: "null content";
    grid-template-columns: 1fr 3fr;
  }

  .GetInvolvedGrid {
    display: grid;
    grid-template-areas: "null content";
    grid-template-columns: 1fr 3fr;
  }

  .FeatureBlockDemoArea {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .TextLG {
    font-size: 1.3em;
    line-height: 1.3em;
  }

  .HeroHeader {
    grid-row-gap: var(--component-spacing-xs);
  }

  .HeroFeaturesItem {
    padding: 0;
  }

  .FeatureBlocksGrid {
    grid-template-areas: "content";
    grid-template-columns: 1fr;
  }

  .FeatureBlocksContent {
    padding: var(--component-spacing-lg) var(--component-spacing-lg) 0;
  }

  .FeatureBlockDemoArea {
    width: 80%;
  }

  .GetInvolvedGrid {
    grid-template-areas: "content";
    grid-template-columns: 1fr;
  }

  .GetInvolvedContent {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .HeroHeader {
    display: grid;
    grid-template-areas: "title"
                        "CTAs"
                        "img"
                        "img";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 4fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    padding-left: 0;
  }

  .HeroHeaderTitleRow {
    align-items: center;
    justify-content: center;
    margin-bottom: var(--component-spacing-sm);
  }

  .HeroHeaderImg {
    border-left: none;
  }

  .HeroHeaderImg > img {
    margin: var(--component-spacing-lg);
    margin-top: 0;
    width: calc(100% - 2 * var(--component-spacing-lg));
  }

  .HeroHeaderTitle {
    align-items: flex-end;
    justify-content: center;
    grid-area: unset;
    text-align: center;
    margin: var(--component-spacing-lg) var(--component-spacing-sm) 0;
  }

  .HeroHeaderCTAs {
    grid-area: unset;
    align-items: center;
    justify-content: center;
    margin: var(--component-spacing-sm) var(--component-spacing-sm) var(--component-spacing-lg);
  }

  .HeroHeaderCTAs > * {
    width: 165px;
  }

  .HeroFeatures {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-column-gap: 0;
    grid-row-gap: var(--component-spacing-lg);
  }

  .HowItWorksBody {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: var(--component-spacing-lg);
    padding: 0 var(--component-spacing-lg);
  }

  .HowItWorksCode {
    max-width: unset;
    width: 100%;
    overflow: hidden;
  }

  .FeatureBlockDemoArea {
    width: 100%;
  }

  .HeroFeaturesItem h2 {
    background-image: linear-gradient(180deg, #ff00a0 0%, #8200ff 44%, #00ffff 83%);
  }
}

@media (max-width: 576px) {
  .FeatureBlocks .container {
    padding: 0;
  }
}