.section {
    padding: var(--component-spacing-lg) 0;
}

/*.container {*/
/*    padding: 0 var(--component-spacing-lg);*/
/*}*/

/*@media (min-width: 1900px) {*/
/*    .container {*/
/*        max-width: 1800px;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 var(--component-spacing-lg);
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    background: #fff;
    flex: 1;
}

.title {
    margin-bottom: var(--component-spacing-lg);
}

.articlesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: var(--component-spacing-xl);
    grid-row-gap: var(--component-spacing-xl);
}

.articleItem {
    max-width: 550px;
    cursor: pointer;
    /*background-color: #EEE;*/
    /*justify-self: center;*/
}

.articleItem * {
    text-decoration: none !important;
}

.articleItem:hover .articleItemTitle {
    text-decoration: underline !important;
}

.articleItemCover {
    height: 200px;
    background-color: var(--grey-lighter);
    margin-bottom: var(--component-spacing-sm);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    box-shadow: 0 0 0 1px var(--primary);
}

.articleItemMeta {
    color: var(--grey-dark);
    font-size: var(--text-sm);
}

.articleItemTitle {
    margin: var(--component-spacing-sm) 0;
    color: var(--primary);
    height: calc(3 * var(--text-height-lg)) !important;
    line-height: var(--text-height-lg) !important;
    font-size: var(--text-lg) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.articleItemAuthor {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.articleItemAuthorImg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--grey-light-x);
    margin-right: var(--component-spacing-sm);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.articleItemAuthorName {
    color: var(--grey-dark);
    font-size: var(--text-sm);
}


@media (max-width: 992px) {
    .articlesGrid {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: var(--component-spacing-lg);
    }
}

@media (max-width: 576px) {
    .articlesGrid {
        grid-template-columns: 1fr;
    }

    .articleItemTitle {
        height: auto !important;
        overflow: unset;
        display: block;
        text-overflow: unset;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;
    }
}