.TextMD {
    font-size: calc(100vw / 80);
    line-height: calc(100vw / 60);
}

.TextLG {
    font-size: calc(100vw / 37);
    line-height: calc(100vw / 30);
}

@media (min-width: 1900px) {
    .container {
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
    }

    .TextMD {
        font-size: var(--text-lg);
        line-height: var(--text-height-lg);
    }

    .TextLG {
        font-size: 2.8em;
        line-height: 1.2em;
    }
}

@media (max-width: 1200px) {
    .TextMD {
        font-size: var(--text-md);
        line-height: var(--text-height-md);
    }
}

@media (max-width: 992px) {
    .TextLG {
        font-size: 1.3em;
        line-height: 1.3em;
    }
}

.sibForm {
    position: relative;
    padding: 0;
    font-family: unset;
    margin-top: var(--component-spacing-xl);
    margin-bottom: var(--component-spacing-md);
    font-size: unset;
}

.sibFormBG {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: block;
    box-shadow: inset 0 0 0 2px var(--home-dark);
}

.sibFormContainer {
    position: relative;
    z-index: 2;
    border: 1px solid var(--home-blue);
    padding: var(--component-spacing-md) var(--component-spacing-lg) !important;
    background-color: var(--home-white);
}

.sibFormMessagePanel {
    margin: 0 !important;
}

.sibFormHeaderBlock {
    margin-bottom: 0 !important;
}

.sigFormHeader {
    color: var(--home-dark);
}

.sibFormBlock {
    margin-bottom: var(--component-spacing-md);
    padding: 0;
}

.sibFormSubmitBlock {
    margin-bottom: 0 !important;
}

.sibFormText {
    color: var(--grey);
}

.sibFormSubmit {
    text-decoration: unset !important;
    color: var(--home-blue) !important;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    display: block;
    margin: 0;
    padding: 0;
    font-family: unset;
}

.sibFormSubmit:active, .sibFormSubmit:hover {
    text-decoration: underline !important;
}