.TextMD {
    font-size: calc(100vw / 80);
    line-height: calc(100vw / 60);
}

.TextLG {
    font-size: calc(100vw / 37);
    line-height: calc(100vw / 30);
}

@media (min-width: 1900px) {
    .container {
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
    }

    .TextMD {
        font-size: var(--text-lg);
        line-height: var(--text-height-lg);
    }

    .TextLG {
        font-size: 2.8em;
        line-height: 1.2em;
    }
}

@media (max-width: 1200px) {
    .TextMD {
        font-size: var(--text-md);
        line-height: var(--text-height-md);
    }
}

@media (max-width: 992px) {
    .TextLG {
        font-size: 1.3em;
        line-height: 1.3em;
    }
}
